*.obj
*.uid
*.dblite
*.lib
*.obj
*.tmp
*.pdb
*.pyc
*.lib
*.a
*.so
*.os
/gen/**/*
extern/godot-cpp/**/*
extern/luau/**/*
bin/**/*
demo/bin/**/*
demo/.godot/**/*
demo-fps-template-by-bukkbeek/bin/**/*
demo-fps-template-by-bukkbeek/.godot/**/*
.debug